<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HideVolumeOSD.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <HideVolumeOSD.Settings>
            <setting name="HideOSD" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VolumeInSystemTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VolumeHideDelay" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="VolumeDisplaySize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VolumeDisplayNearClock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VolumeDisplayLight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VolumeDisplayOffset" serializeAs="String">
                <value>32</value>
            </setting>
        </HideVolumeOSD.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
